# Python Tasks

### 1. Write an expression that display the type of ‘word’.

In [1]:
x = "word"
print(type(x))

<class 'str'>

### 2. Calculate the sum of 10.8, 12.2 and 0.2, store it in the variable total, and then display total’s value.

In [2]:
total = 10.8 + 12.2 + 0.2
print(total)

23.2

### 3. Evaluate the expression 3*(4-5) with and without parentheses. Are the parentheses redundant ?

In [3]:
# the parantheses are important because it changes the output value so it's not redundant 
x = 3*4-5
y = 3*(4-5)
print ('X = ', x , '\nY =', y)

X =  7
Y = -3

### 4. Evaluate the expression 4**3**2, (4**3) **2 and 4** (3**2).Are any of the parentheses redundant?

In [4]:
# the parantheses are important because it changes the output value so it's not redundant 
x = 4**3**2
y = (4**3)**2
z = 4**(3**2)
print ('X =', x , '\nY =', y,'\nZ =', z)

X = 262144
Y = 4096
Z = 262144

### 5. What does the following print statement display? print (‘int (5.2)’, ‘truncates 5.2 to’, int (5.2)) ?

In [5]:
# The ans is :  int(5.2) truncates 5.2 to 5

### 6. What displays when you execute the following statement? print(“”” This is a lengthy multiline string containing a few lines \ of text”””) ?

In [6]:
# The ans is :  "This is a lengthy multiline string containing a few lines \of text

### 7. Use float to convert ‘6.2’ (a string) to a floating-point value. Multiply that value by 3.3 and show the result.

In [7]:
x = '6.2'
y = float(x)
z = y * 3.3
print ('type of X is ', type(x) , '\ntype of Y is', type(y),'\nvalue of Y * 3.3  =', z)

type of X is  <class 'str'>
type of Y is <class 'float'>
value of Y * 3.3  = 20.46

### 8. For any of the operators !=, >= or <= ,show that a syntax error occurs if you reverse the symbols in condition.

In [8]:
if(10 =! 5) print(0)

SyntaxError: invalid syntax (<ipython-input-8-c551776d64f4>, line 1)

In [9]:
if( 10 => 5) print(1)

SyntaxError: invalid syntax (<ipython-input-9-9f4c366de0c5>, line 1)

In [11]:
if( 10 =< 5) print(1)

SyntaxError: invalid syntax (<ipython-input-11-c2fb03139d6e>, line 1)

### 9. Use all six comparison operators to compare the values 5 and 9. Display the values on one line using print.

In [10]:
print(5>9 , '  ', 5<9,'  ', 5<=9,'  ', 5>=9,'  ', 5==9,'  ', 5!=9 )

False    True    True    False    False    True

### 10. What is the type of the expression 7.5*3?

In [12]:
# float

### 11. For the values 47, 95,88,73,88 and 84 calculate the minimum, maximum and range with and without function definition .

In [23]:
print( 'The minimum value is ',min(47,95,88,73,88,84) ,'\nThe maximum value is ' , max(47,95,88,73,88,84),'\nThe range is ')
x = range(47,95,1)
for n in x:
  print(n, end=" ")

The minimum value is  47
The maximum value is  95
The range is
47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94

### 12. Show that a SyntaxError occurs if an if…..elif statement specifies an else before the last elif.

In [14]:
if (10 == 5)
    print("if")
else
    print("else")
elif (10==10)
    print("elif")

SyntaxError: invalid syntax (<ipython-input-14-a4c54470b420>, line 1)

### 13. Write statements to determine the first power of 7 greater than 1000

In [15]:
for i in range(10):
    x = pow(7,i)
    if x > 1000 :
        print('The first power of 7 greater than 1000 is ',i)
        break

The first power of 7 greater than 1000 is  4

### 14. Use the range function and a for statement to calculate the total of the integers from 0 through 1000000

In [16]:
x=0
for i in range(1000000):
    x = x+i
print('The total is ',x)

The total is  499999500000

### 15. Create a variable x with the value 12. Use an exponentiation augmented assignment statement to square x’s value. Show x’s new value.

In [17]:
x = 12
print(x**2)

144

### 16. Display an f-string in which you insert the values of the variables number1 (7) and number2 (5) and their product. The displayed string should be 7  times 5  is 35

In [18]:
number1 = 7
number2 = 5
print( number1,'times', number2,'is', (number1*number2))

7 times 5 is 35

### 17. What happens if you try to print the items in range (10, 0, 2)?

In [19]:
# will not print anything 
for i in range(10,0,2):
    print(i)

   ### 18. Use for statement ,range and print to display on one line the sequence of values 99 ,88 ,77 ,66 ,55 ,44 ,33 ,22 ,11 ,0 ,each separated by one space.

In [20]:
for i in range(99,0,-11):
    print(i , end=" ")

99 88 77 66 55 44 33 22 11

### 19. Use for and range to sum the even integers from 2 through 100 ,then display the sum

In [21]:
s=0
for i in range(0,100,2):
    s=s+i
print(s)

2450

### 20. Assume that the tax on a restaurant bill is 6.25% and that the bill amount is 37.45.Use type Decimal to calculate the bill total then print the result with two digits to the right of the decimal point.

In [22]:
total = 37.45 * (6.25/100)
print(round(total,2))

2.34